.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-text{
    font-size: 10px;
}