body{
    background-color: rgb(247, 247, 247);
    margin: 0;
    padding-bottom: 500px;
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 40px;
}
p{
    font-family: 'Roboto', Arial;
    margin-top: 0;
    margin-bottom: 0;
}