/*General*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 55px;
    border-bottom: 1px solid lightgray;
    z-index: 100;
}

/*Left Section*/

.left-section{
    display: flex;
    align-items: center;
}
.menu-ico{
    height: 24px;
    margin: 0 24px;
}
.youtube-ico{
    height: 20px;
}

/*Middle Section*/

.middle-section{
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 35px;
    margin-left: 70px;
    max-width: 500px;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid ;
    border-color: lightgray;
    border-radius: 2px 0px 0px 2px;
    box-shadow: inset 1px 2px 3px
    rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-bar:focus{
    
    border-color: rgb(101, 101, 155);
    outline: none;
}

.search-button,
.voice-search-button,
.upload-ico-container,
.youtube-apps-ico-container,
.notifications-ico-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button{
    height: 40px;
    width: 60px;
    border-width: 1px;
    border-left-width: 0px;
    border-style: solid;
    border-radius: 0px 2px 2px 0px;
    border-color: rgba(0, 0, 0, 0.05);
    margin-left: 0px;
    margin-right: 10px;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-ico-container .tooltip,
.youtube-apps-ico-container .tooltip,
.notifications-ico-container .tooltip{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    font-size: 12px;
    padding: 10px 6px;
    bottom: -40px;
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-ico-container:hover .tooltip,
.youtube-apps-ico-container:hover .tooltip,
.notifications-ico-container:hover .tooltip{
    opacity: 1;
}
.search-button:hover{
    background-color: rgba(68, 68, 68, 0.1);
}
.search-ico{
    height: 25px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}
.voice-search-ico{
    height: 24px;
}

/*Right Section*/

.right-section{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload-ico{
    height: 24px;
}
.youtube-apps-ico{
    height: 24px;
}
.notifications-ico-container{
    position: relative;
}
.notifications-counter{
    font-family: Roboto, Arial;
    position: absolute;
    background: red;
    color: white;
    top: -2px;
    right: -5px;
    padding: 0px 4px;
    border-radius: 50%;
    font-size: 12px;
    border: solid;
}
.notifications-ico{
    height: 24px;
}
.mychannel-profile{
    height: 24px;
    border-radius: 50%;
}











