.subscribe-button{
    background-color: rgb(200, 0, 0);
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 16px;
    transition: opacity 0.15s;
}

.subscribe-button:hover{
    opacity: 0.8;
}

.subscribe-button:active{
    opacity: 0.5;
}

.join-button{
    background-color: white;
    border: rgb(40, 118, 211) solid 1px; /*border: color style width;*/
    color: rgb(40, 118, 211);
    border-radius: 2px;
    cursor: pointer;
    padding: 9px 16px;
    transition: background-color 0.15s,
    color 0.15s;
}

.join-button:hover{
    background-color: rgb(40, 118, 211);
    color: white;
}

.join-button:active{
    opacity: 0.7;
}

.tweet-button{
    background-color: rgb(81, 152, 240);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 16px;
    transition: box-shadow 0.15s;   
}

.tweet-button:hover{
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15);
}